<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a routerLink="/Inicio" class="enlace">
        <img src="../../../../assets/img/Logo-Nav.png" alt="" class="logo">
        <h3 class="logo-title">RayFex Studio</h3>
        <p class="eslogan">Mas Alla Del Entretenimiento</p>
    </a>
    <ul>
        <li><a routerLink="/Inicio"><i class="fa-solid fa-house"></i>&nbsp;&nbsp;Inicio</a></li>
        <li><a routerLink="/Empleado"><i class="fa-solid fa-user-tie"></i>&nbsp;&nbsp;Empleados</a></li>
        <li><a routerLink="/Cliente"><i class="fa-solid fa-user-group"></i>&nbsp;&nbsp;Clientes</a></li>
        <li><a routerLink="/Venta"><i class="fa-solid fa-receipt"></i>&nbsp;&nbsp;Ventas</a></li>
        <li><a routerLink="/Login"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;&nbsp;Cerrar Sección</a></li>
    </ul>
</nav>
